@media (min-width: 768px) {
  .container-small {
    width: 500px;
  }

  .container-large {
    width: 970px;
  }
}

@media (min-width: 992px) {
  .container-small {
    width: 500px;
  }

  .container-large {
    width: 1170px;
  }
}

@media (min-width: 1200px) {
  .container-small {
    width: 650px;
  }

  .container-large {
    width: 1500px;
  }

  .button-closer {
    margin-left: 8%;
  }

  .button-closer-right {
    margin-right: 8%;
  }
}

/* .container-small,
.container-large {
  max-width: 100%;
} */
